body{
    background-color: rgb(26, 149, 206);
}
h2 {
    border: bac rgb(30, 6, 117) 5px dotted;
    background-color: rgb(209, 230, 21);
    color: rgb(248, 247, 239);
    background-color: #f1c40f;
    border: solid 2px black;
    
}
.texto{
    color: brown;
}
 


